html,
body {
    color: black;
    background-color: transparent !important;
}

a:not(.resource),
h1,
h2,
h3,
h4,
h5,
h6,
table>thead {
    color: inherit !important;
}

blockquote.forward>.preamble>.date>.value,
blockquote.forward>.preamble>.sender>.value {
    color: rgba(0, 0, 0, 0.9) !important;
}

blockquote.forward>.preamble>.date>.label,
blockquote.forward>.preamble>.sender>.label {
    color: rgba(0, 0, 0, 0.7) !important;
}

table,
table>thead,
table th {
    background-color: transparent !important;
}

td {
    color: #000000 !important;
}

table,
td {
    border: 0px solid transparent !important;
}

.userHTML>div:first-of-type {
    background-color: transparent !important;
}

blockquote.forward>.preamble {
    background: rgb(255, 255, 255, 0.1) !important;
}