@font-face {
    font-family: "SF Text";
    font-weight: 700;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-Bold.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 700;
    font-style: italic;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-BoldItalic.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 800;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-Heavy.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 800;
    font-style: italic;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-HeavyItalic.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 200;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-Light.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 200;
    font-style: italic;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-LightItalic.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 500;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-Medium.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 500;
    font-style: italic;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-MediumItalic.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 400;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-Regular.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 400;
    font-style: italic;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-RegularItalic.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 600;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-Semibold.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 600;
    font-style: italic;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-SemiboldItalic.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 100;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-Ultrathin.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 100;
    font-style: italic;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-UltrathinItalic.ttf");
}

.seqtavanced-logo {
    display: flex;
    padding: 0 5px 0 5px;
}

:root {
    --primary: #f80ab2 !important;
    --secondary: #6ecefa !important;
    --blue: var(--secondary) !important;
    --green: var(--secondary) !important;
    --orange: var(--primary) !important;
    --yellow: var(--secondary) !important;
    --theme-bg-parts: 12, 12, 15 !important;
    --theme-fg-parts: 255, 255, 255 !important;
    --nav-level-three: 24, 24, 26 !important;
    --nav-level-two: : #303030 !important;
    --theme-sel-bg-parts: 50, 50, 50 !important;
    --navy: #101010 !important;
    --theme-offset-bg: 24, 24, 26 !important;
}

.login>.auth label>input,
#main>.notices>.notice>.contents {
    background: #111114 !important;
}

#main>.timetablepage>.quickbar>.wrapper:before,
#main>.timetablepage>.quickbar>.wrapper:after,
.entry:before,
.entry:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, var(--secondary), var(--primary), var(--secondary), var(--primary), var(--secondary));
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: timetable 20s linear infinite;
}

#main>div>div.quickbar.below.visible>div>div.actions,
#main>div>div.quickbar.visible.above>div>div.actions {
    background: rgba(0, 0, 0, 0.2) !important;
}

.dashlet-summary-homework>.summary>.subject>.item>.todo {
    color: var(--secondary) !important;
}

.dashlet-summary-homework>.summary>.subject>.item,
.dashlet-tasks>ul>li>.preview {
    color: rgba(255, 255, 255, 0.5) !important;
}

#main>div>div.quickbar.below.visible>div>div.meta>div.times,
#main>div>div.quickbar.below.visible>div>div.meta>div.period,
#main>div>div.quickbar.below.visible>div>div.meta>div.room,
#main>div>div.quickbar.below.visible>div>div.meta>div.teacher,
#main>div>div.quickbar.below.visible>div>div.meta>div.assessment,
#main>div>div.quickbar.above.visible>div>div.meta>div.times,
#main>div>div.quickbar.above.visible>div>div.meta>div.period,
#main>div>div.quickbar.above.visible>div>div.meta>div.room,
#main>div>div.quickbar.above.visible>div>div.meta>div.teacher,
#main>div>div.quickbar.above.visible>div>div.meta>div.assessment,
#main>.timetablepage>.quickbar[data-yiq='light'] .meta>.times,
#main>.timetablepage>.quickbar[data-yiq='light'] .meta>.period,
#main>.timetablepage>.quickbar[data-yiq='light'] .meta>.room,
#main>.timetablepage>.quickbar[data-yiq='light'] .meta>.teacher,
#main>.timetablepage>.quickbar[data-yiq='light'] .meta>.assessment {
    color: #ffffff !important;
    opacity: 0.5 !important;
}

#main>div>div.quickbar.below.visible>div>div.actions>a {
    border: solid 1px var(--theme-offset-bg) !important;
}

html {
    overflow: scroll !important;
    overflow-x: hidden !important;
    font-family: 'SF Text', 'roboto', sans-serif !important;
}

#main>.timetablepage>.quickbar>.wrapper,
.entry {
    background: #111114 !important;
}

@keyframes timetable {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

#main>.timetablepage>.quickbar>.wrapper:after,
.entry:after {
    filter: blur(30px) !important;
}

.legacy-root,
#main>.goals>.student h2 {
    font-family: 'SF Text', 'roboto', sans-serif !important;
    color: #ffffff !important;
}

.student #menu>ul::before {
    background-position: center !important;
    background-image: none !important;
}

.contact #menu>ul::before {
    background-image: none !important;
}

#main>.settings>.apps>div.emailed {
    color: var(--secondary) !important;
}

.Message__Message___3oJaU>.Message__recipients___3gLZX>li::before {
    background: var(--secondary) !important;
}

#main>.settings>.password>.field>input.error {
    border-color: var(--primary) !important;
}

#main>.settings>.password>.error {
    color: var(--primary) !important;
}

.dailycal>.times>.now {
    border-bottom: 1px solid var(--secondary) !important;
}

#userActions>button>svg>g>g>path:nth-child(2) {
    fill: var(--primary) !important;
}

.MessageList__MessageList___3DxoC>ol>li .MessageList__flags___2kqiT {
    color: var(--secondary) !important;
}

.notifications__notifications___3mmLY.notifications__hasItems___gXxzx>button {
    color: #fff !important;
}

body::-webkit-scrollbar {
    width: 0 !important;
    background: transparent !important;
}

::-webkit-scrollbar {
    background-color: transparent !important;
    width: 4px !important;
    height: 4px !important;
}

::-webkit-scrollbar-track {
    background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
    background-color: #fff !important;
    border-radius: 4px !important;
}

::-webkit-scrollbar-button {
    display: none !important;
}

div.title {
    color: #FFFFFF !important;
}

body:not(.cke_editable) {
    color: white !important;
    background-color: #0c0c0f !important;
    background-image: linear-gradient(rgba(12, 12, 15, 0.85), rgba(12, 12, 15, 0.85)), var(--background) !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.defaultWelcomeWrapper {
    background: #0c0c0f !important;
}

.defaultWelcome>section {
    color: white !important;
}

#title {
    background-color: transparent !important;
}

#toolbar {
    background: transparent !important;
}

ul.magicDelete>li.deleting {
    background: rgba(var(--theme-fg-parts), 0.05) !important;
}

.formattedText>.footer {
    background-color: rgb(43 43 43) !important;
}

.formattedText>.footer>.wordCount {
    opacity: 1 !important;
    color: white !important;
}

.formattedText>.wrapper>.cke>.cke_inner>.cke_contents {
    background: none !important;
}

#menu {
    border-right: 0px solid #0c0c0f !important;
    background: transparent !important;
}

#menu .sub {
    background-color: #0c0c0f !important;
    top: 0px !important;
}

#menu .nav {
    background-color: #0c0c0f !important;
    border-bottom: 1px solid #111114 !important;
}

#content {
    background: transparent !important;
}

#userActions {
    background: #00000026 !important;
    border-radius: 0px 50px 50px 0px;
}

#userActions>.details {
    opacity: 1 !important;
    text-transform: none !important;
}

#main>.dashboard {
    background: transparent !important;
}

#main>.dashboard>.message {
    background: transparent !important;
}

#main>.dashboard>.dashlet {
    background: #111114 !important;
}

#main>.timetablepage>.quickbar {
    border: 0px solid #fff !important;
}

.dashlet-notes>ul>li:hover {
    background: #ffffff05 !important;
}

#menu li {
    border-bottom: 1px solid #111114 !important;
    padding: 18px !important;
    white-space: nowrap !important;
    border-radius: 0px 20px 20px 0px !important;
}

#menu li.active {
    color: #ffffff !important;
    background: #ffffff05 !important;
}

#menu li>label {
    color: white !important;
    font-weight: 600 !important;
    white-space: nowrap !important;
}

#menu li:hover {
    background: #111114 !important;
}

#menu>ul::before {
    display: none !important;
}

#body.userHTML {
    color: white !important;
}

iframe.userHTML {
    background: #111114 !important;
}

.Avatar__Avatar___gE5kx.Avatar__staff___4gVLs {
    --person-colour: var(--secondary) !important;
}

#main {
    background-color: transparent !important;
}

#main>.documents>.list>tbody td {
    color: #818181 !important;
}

#main>.documents>.list>tbody .date {
    color: #bbb !important;
}

#main>.documents>.list .title>.uiFile>.name {
    color: white !important;
}

#main>.documents>.list>tbody .title>a {
    color: #4b4b4b !important;
}

.legacy-root input,
.legacy-root textarea,
.legacy-root button,
.legacy-root select,
.legacy-root option,
.legacy-root .input {
    font-family: 'SF Text', 'roboto', sans-serif !important;
    color: white !important;
}

#toolbar input {
    background: rgba(14, 14, 14, 0.5) !important;
}

.dailycal>.content>.wrapper>.days>tbody>tr>td>.entriesWrapper>.entry[data-yiq='dark'] {
    color: #fff !important;
}

.notifications__notifications___3mmLY.notifications__shown___1kPoT>button {
    background-color: #111114 !important;
}

#main>.settings>.password>.field>label {
    color: #fff !important;
}

#main>.reports {
    background: transparent !important;
}

#main>.reports>.item {
    height: calc(220px * 1.5) !important;
    width: calc(200px * 1.5) !important;
}

#main>.reports>.item>.report>.year,
#main>.reports>.item>.report>.term {
    background: #0c0c0f !important;
}

#main>.reports>.item>.report>.date {
    white-space: nowrap !important;
}

#main>.notices>.notice>h2::before {
    background: linear-gradient(90deg, var(--secondary), var(--primary)) !important;
}

.modaliser {
    background: #000000 !important;
}

.legacy-root button,
.legacy-root a {
    background-color: #111114 !important;
}

.notifications__list___rp2L2 {
    border: 4px solid #0c0c0f !important;
    background: #111114 !important;
}

.notifications__actions___1UX7r {
    background: #111114 !important;
}

.notifications__items___2hCdv {
    border-bottom: solid 1px #383838 !important;
}

.dashlet-notes>ul {
    background: #111114 !important;
}

.body.userHTML {
    color: #fff !important;
}

.body>userHTML {
    color: #fff !important;
}

html {
    color: white !important;
}

#html {
    color: white !important;
}

.html {
    color: white !important;
}

body {
    color: #fff !important;
    filter: saturate(1.3) !important;
    transition: width 100ms !important;
    transition-timing-function: ease !important;
}

.userHTML {
    color: #fff !important;
}

#userHTML {
    color: #fff !important;
}

a:not(.resource) {
    color: #fff !important;
}

.login {
    background: #040406 !important;
}

.login>.auth {
    background: rgba(0, 0, 0, 0.5) !important;
}

.login::after {
    background: linear-gradient(to top left, rgba(0, 0, 0, 0.5) 50%, transparent calc(50% + 1px)) !important;
}

.legacy-root {
    font-family: 'SF Text', 'roboto', sans-serif !important;
}

.legacy-root input,
.legacy-root textarea,
.legacy-root button,
.legacy-root select,
.legacy-root option,
.legacy-root .input {
    font-family: 'SF Text', 'roboto', sans-serif !important;
}

.programmeNavigator {
    background: transparent !important;
}

.dailycal>.content>.wrapper>.days>tbody>tr>td>.entriesWrapper>.entry {
    background: rgb(12, 12, 15) !important;
    border: solid 1px transparent !important;
    border-image: linear-gradient(45deg, var(--secondary), var(--primary)) 1 !important;
}

.dashlet-motd>.favour>.graph {
    background: var(--primary) !important;
}

.dashlet-motd>.favour>.graph>.unfavourable {
    background: var(--secondary) !important;
}

.dashlet-motd>.favour>button.favourable.selected {
    border-color: var(--primary) !important;
    color: var(--primary) !important;
}

.dashlet-motd>.favour>button.unfavourable.selected {
    border-color: var(--secondary) !important;
    color: var(--secondary) !important;
}

.LabelList__LabelList___2RJFf>li.LabelList__selected___3Egk7 {
    background: #111114 !important;
}

.MessageList__MessageList___3DxoC {
    background: transparent !important;
}

.MessageList__MessageList___3DxoC>ol>li.MessageList__selected___1SJNz {
    background: #ffffff05 !important;
}