@font-face {
    font-family: "SF Text";
    font-weight: 700;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-Bold.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 700;
    font-style: italic;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-BoldItalic.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 800;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-Heavy.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 800;
    font-style: italic;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-HeavyItalic.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 200;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-Light.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 200;
    font-style: italic;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-LightItalic.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 500;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-Medium.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 500;
    font-style: italic;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-MediumItalic.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 400;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-Regular.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 400;
    font-style: italic;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-RegularItalic.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 600;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-Semibold.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 600;
    font-style: italic;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-SemiboldItalic.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 100;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-Ultrathin.ttf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 100;
    font-style: italic;
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/SFUIText-UltrathinItalic.ttf");
}

.seqtavanced-logo {
    display: flex;
    padding: 0 5px 0 5px;
}

.seqtavanced-settings {
    margin: 0 0 48px;
}

.seqtavanced-settings>.preSpaced {
    margin: 26px 0 0 !important;
}

.seqtavanced-settings>.seqtavanced-branding>a,
.seqtavanced-settings>a {
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
    cursor: pointer !important;
    height: 100% !important;
}

.seqtavanced-shortcut>svg {
    width: 20px !important;
    height: 20px !important;
    fill: none !important;
    stroke: currentcolor !important;
}

.waitWindow svg path,
.seqtavanced-shortcut>svg path {
    stroke-linecap: square !important;
    stroke-width: 4px !important;
    stroke: url(#gradient) !important;
}

.seqtavanced-branding {
    display: flex !important;
    align-items: center !important;
    padding-right: 8px !important;
}

.seqtavanced-branding img {
    margin-right: 8px !important;
}

.seqtavanced-branding h2,
.seqtavanced-branding .label {
    margin: 0 !important;
}

.seqtavanced-branding h2 {
    color: var(--text) !important;
    font-weight: 700 !important;
}

.seqtavanced-row {
    display: flex;
    flex-wrap: wrap;
    max-width: 680px;
}

.seqtavanced-col {
    width: 100%;
}

@media (min-width: 950px) {
    .seqtavanced-col {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
}

.seqtavanced-legal {
    opacity: 0.6 !important;
    font-size: smaller !important;
    padding-bottom: 10px !important;
}

.seqtavanced-settings small {
    opacity: 0.6 !important;
}

.seqtavanced-about {
    padding: 12px 0 !important;
}

.seqtavanced-github svg {
    vertical-align: middle !important;
}

.seqtavanced-animatedbackground>svg {
    height: 100%;
    width: 100%;
    position: absolute;
}

.bg1 use {
    -webkit-animation: move-forever1 14s linear infinite;
    animation: move-forever1 14s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}

.bg2 use {
    -webkit-animation: move-forever2 12s linear infinite;
    animation: move-forever2 12s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}

.bg3 {
    color: var(--background-opacity);
}

.bg3 use {
    color: var(--background-opacity);
    -webkit-animation: move-forever3 10s linear infinite;
    animation: move-forever3 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}

@-webkit-keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%)
    }

    100% {
        transform: translate(-90px, 0%)
    }
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%)
    }

    100% {
        transform: translate(-90px, 0%)
    }
}

@-webkit-keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%)
    }

    100% {
        transform: translate(85px, 0%)
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%)
    }

    100% {
        transform: translate(85px, 0%)
    }
}

@-webkit-keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%)
    }

    100% {
        transform: translate(85px, 0%)
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%)
    }

    100% {
        transform: translate(85px, 0%)
    }
}

:root {
    --primary: #f80ab2 !important;
    --primary-text: #ffffff !important;
    --secondary: #6ecefa !important;
    --secondary-text: #ffffff !important;
    --text: #ffffff !important;
    --background: #0c0c0f !important;
    --background-opacity: #ffffff05 !important;
    --background-image: none !important;
    --timetable-background: repeating-linear-gradient(45deg, var(--secondary) 0%, var(--primary), var(--secondary) 50%);
    --blue: var(--secondary) !important;
    --green: var(--secondary) !important;
    --orange: var(--primary) !important;
    --yellow: var(--secondary) !important;
    --theme-bg-parts: 255, 255, 255, 0.02 !important;
    --theme-fg-parts: 255, 255, 255 !important;
    --nav-level-three: 24, 24, 26 !important;
    --nav-level-two: : #303030 !important;
    --theme-sel-bg-parts: 255, 255, 255, 0.15 !important;
    --navy: #101010 !important;
    --theme-offset-bg: 24, 24, 26 !important;
}

.seqtavanced-switch {
    position: relative !important;
    width: 38px !important;
    margin-left: 4px;
}

.seqtavanced-switch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.seqtavanced-switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 16px;
    padding: 0;
    line-height: 16px;
    border: 0px solid #FFFFFF;
    border-radius: 20px;
    background-color: var(--background-opacity);
    border: 1px solid var(--background-opacity);
}

.seqtavanced-switch-label:before {
    content: "";
    width: 20px;
    margin: -4px;
    height: 20px;
    background: var(--background);
    position: absolute;
    right: 22px;
    border-radius: 20px;
    transition: 0.3s;
    border: 2px solid var(--background-opacity);
}

.seqtavanced-switch-checkbox:checked+.seqtavanced-switch-label .seqtavanced-switch-inner {
    margin-left: 0;
}

.seqtavanced-switch-checkbox:checked+.seqtavanced-switch-label {
    background-color: var(--primary);
}

.seqtavanced-switch-checkbox:checked+.seqtavanced-switch-label,
.seqtavanced-switch-checkbox:checked+.seqtavanced-switch-label:before {
    border-color: var(--primary);
}

.seqtavanced-switch-checkbox:checked+.seqtavanced-switch-label:before {
    transition: 0.3s;
    right: 0px;
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

#main>.settings>.seqtavanced-settings>* .item {
    margin: 6px 0 2px 0 !important;
    display: flex !important;
    align-items: center !important;
}

#main>.settings>.seqtavanced-settings>* .item>label {
    display: inline-block !important;
    margin: 0 1ex 0 0 !important;
    padding: 0 !important;
    vertical-align: middle !important;
}

#main>.settings>.seqtavanced-settings>* .item>.color {
    display: flex;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    width: 20px;
    height: 20px;
    border: 2px solid var(--background-opacity);
    border-radius: 20px;
}

#main>.settings>.seqtavanced-settings>* .item>.color>.selector {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 40px;
    height: 40px;
    border: none !important;
}

#main>.settings>.seqtavanced-settings>* .item>.background button {
    fill: var(--text);
    align-items: center;
    justify-content: center;
    margin: 0 4px 0 0;
}

#main>.settings>.seqtavanced-settings>.presets {
    gap: 16px 24px;
    display: flex;
    flex-wrap: wrap;
    margin: 4px 0 0;
    max-width: 680px;
}

#main>.settings>.seqtavanced-settings>.presets>.preset {
    position: relative;
    border: 2px solid var(--background-opacity);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 24px;
}

#main>.settings>.seqtavanced-settings>.presets>.preset>span {
    display: flex;
    justify-content: center;
}

#main>.settings>.seqtavanced-settings>.presets>.preset>.preview {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    margin-bottom: 4px;
}

#main>.settings>.seqtavanced-settings>.presets>.preset>.add {
    fill: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
}

#main>.settings>.seqtavanced-settings>.presets>.preset>.delete {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--background-opacity);
    border: 1px solid rgba(var(--theme-fg-parts), 0.1);
    padding: 4px;
    z-index: 1;
}

#userActions>.seqtavanced-shortcut {
    margin-right: 6px !important;
    order: 1 !important;
}

#main>.notices>.notice>.contents {
    background: var(--background-opacity) !important;
    border-radius: 0 0 8px 8px !important;
}

#main>.timetablepage>.quickbar>.wrapper:before,
#main>.timetablepage>.quickbar>.wrapper:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: var(--timetable-background);
    background-size: 200% 200%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: timetable 2s linear infinite;
    border-radius: 8px;
}

#main>.timetablepage>.quickbar {
    border: none !important;
}

#main>.timetablepage>.quickbar>.wrapper {
    background: var(--background) !important;
    border-radius: 8px !important;
}

@keyframes timetable {
    0% {
        background-position: bottom left;
    }

    100% {
        background-position: top right;
    }
}

#main>.timetablepage>.quickbar>.animated:after {
    filter: blur(30px) !important;
}

#main>.timetablepage>.quickbar .attendance {
    border-radius: 100% 0 8px !important;
}

#main>div>div.quickbar.below.visible>div>div.actions,
#main>div>div.quickbar.visible.above>div>div.actions,
#main>.timetablepage>.quickbar .actions {
    background: var(--background-opacity) !important;
}

.dashlet-summary-homework>.summary>.subject>.item>.todo {
    color: var(--secondary) !important;
}

.dashlet-summary-homework>.summary>.subject>.item,
.dashlet-tasks>ul>li>.preview {
    color: var(--text) !important;
    opacity: 0.5 !important;
}

#main>div>div.quickbar.below.visible>div>div.meta>div.times,
#main>div>div.quickbar.below.visible>div>div.meta>div.period,
#main>div>div.quickbar.below.visible>div>div.meta>div.room,
#main>div>div.quickbar.below.visible>div>div.meta>div.teacher,
#main>div>div.quickbar.below.visible>div>div.meta>div.assessment,
#main>div>div.quickbar.above.visible>div>div.meta>div.times,
#main>div>div.quickbar.above.visible>div>div.meta>div.period,
#main>div>div.quickbar.above.visible>div>div.meta>div.room,
#main>div>div.quickbar.above.visible>div>div.meta>div.teacher,
#main>div>div.quickbar.above.visible>div>div.meta>div.assessment,
#main>.timetablepage>.quickbar[data-yiq='light'] .meta>.times,
#main>.timetablepage>.quickbar[data-yiq='light'] .meta>.period,
#main>.timetablepage>.quickbar[data-yiq='light'] .meta>.room,
#main>.timetablepage>.quickbar[data-yiq='light'] .meta>.teacher,
#main>.timetablepage>.quickbar[data-yiq='light'] .meta>.assessment {
    color: var(--text) !important;
    opacity: 0.5 !important;
}

#main>div>div.quickbar.below.visible>div>div.actions>a {
    border: solid 1px var(--theme-offset-bg) !important;
}

html {
    overflow: scroll !important;
    overflow-x: hidden !important;
    font-family: 'SF Text', 'roboto', sans-serif !important;
}

.legacy-root,
#main>.goals>.student h2 {
    font-family: 'SF Text', 'roboto', sans-serif !important;
    color: var(--text) !important;
}

.student #menu>ul::before {
    background-position: center !important;
    background-image: none !important;
}

.contact #menu>ul::before {
    background-image: none !important;
}

#main>.settings>.apps>div.emailed {
    color: var(--secondary) !important;
}

.Message__Message___3oJaU>.Message__recipients___3gLZX>li::before {
    background: var(--secondary) !important;
}

#main>.settings>.password>.field>input.error {
    border-color: var(--primary) !important;
}

#main>.settings>.password>.error {
    color: var(--primary) !important;
}

.dailycal>.times>.now {
    border-bottom: 1px solid var(--secondary) !important;
}

#userActions>button>svg>g>g>path:nth-child(2) {
    fill: var(--primary) !important;
}

.MessageList__MessageList___3DxoC>ol>li .MessageList__flags___2kqiT {
    color: var(--secondary) !important;
}

.notifications__notifications___3mmLY.notifications__hasItems___gXxzx>button,
.connectedNotificationsWrapper>div>button {
    color: var(--text) !important;
    top: 10px !important;
    right: 10px !important;
}

body::-webkit-scrollbar {
    width: 0 !important;
    background: transparent !important;
}

::-webkit-scrollbar {
    background-color: transparent !important;
    width: 4px !important;
    height: 4px !important;
}

::-webkit-scrollbar-track {
    background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text) !important;
    border-radius: 4px !important;
}

::-webkit-scrollbar-button {
    display: none !important;
}

div.title {
    color: var(--text) !important;
}

#menu .nav>.back {
    color: var(--text) !important;
}

#menu>ul>li>svg,
#menu>ul>li.item.hasChildren.active>div>div>div>svg,
#menu>ul>li.item.hasChildren.active>div>ul>li>svg,
.notifications__notifications___3mmLY>button>svg {
    color: var(--text) !important;
}

body:not(.cke_editable) {
    color: var(--text) !important;
    background-color: var(--background) !important;
    background-image: var(--background-image) !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.defaultWelcomeWrapper {
    background: var(--background) !important;
}

.defaultWelcome>section {
    color: var(--text) !important;
}

#title {
    background-color: transparent !important;
    min-height: 38px !important;
    color: var(--text) !important;
}

#toolbar {
    background: transparent !important;
}

ul.magicDelete>li.deleting {
    background: rgba(var(--theme-fg-parts), 0.05) !important;
}

.formattedText>.footer {
    background-color: var(--background-opacity) !important;
}

.formattedText>.footer>.wordCount {
    opacity: 1 !important;
    color: var(--text) !important;
}

.formattedText>.wrapper>.cke>.cke_inner>.cke_contents {
    background: none !important;
}

.formattedText {
    background-color: var(--background-opacity) !important;
}

.legacy-root .uiFileHandler>.note {
    color: var(--text) !important;
}

.anyoneSelect.distinguished>.listWrapper>.list>.item.staff {
    box-shadow: inset 8px 0 var(--secondary) !important;
}

#menu {
    border-right: none !important;
    background: none !important;
    color: var(--text) !important;
}

#menu .sub {
    background-color: var(--background) !important;
    top: 0px !important;
}

#menu .nav {
    background-color: var(--background) !important;
    border-bottom: 1px solid #ffffff05 !important;
}

#content {
    background: transparent !important;
    color: var(--text) !important;
}

#userActions {
    background: var(--background-opacity) !important;
    border-radius: 0px 50px 50px 0px;
}

#userActions>.details {
    opacity: 1 !important;
    text-transform: none !important;
    color: var(--text) !important;
}

#main>.dashboard {
    background: transparent !important;
}

#main>.dashboard>.message {
    background: transparent !important;
}

#main>.dashboard>.dashlet {
    background: var(--background-opacity) !important;
}

.dashlet-notes>ul>li:hover {
    background: var(--background-opacity) !important;
}

#menu li {
    border-bottom: none !important;
    white-space: nowrap !important;
    border-radius: 0px 20px 20px 0px !important;
    margin: 2px 0px !important;
}

#menu li.active {
    color: var(--text) !important;
    background: var(--background-opacity) !important;
}

#menu li>label {
    color: var(--text) !important;
    font-weight: 700 !important;
    white-space: nowrap !important;
}

#menu li:hover {
    background: var(--background-opacity) !important;
}

#menu>ul::before {
    display: none !important;
}

#body.userHTML {
    color: var(--text) !important;
}

iframe.userHTML {
    background: none !important;
}

.Avatar__Avatar___gE5kx.Avatar__staff___4gVLs {
    --person-colour: var(--secondary) !important;
}

#main {
    background-color: transparent !important;
}

#main>.documents>.list .size {
    color: var(--text) !important;
}

#main>.documents>.list>tbody td {
    border-bottom: solid 1px var(--background-opacity) !important;
}

#main>.documents>.list>tbody tr:hover {
    background: var(--background-opacity) !important;
}

#main>.documents>.list>tbody .date {
    color: #bbb !important;
}

#main>.documents>.list .title>.uiFile>.name {
    color: var(--text) !important;
}

#main>.documents>.list>tbody .title>a {
    color: #4b4b4b !important;
    background: none !important;
}

.legacy-root input,
.legacy-root textarea,
.legacy-root button,
.legacy-root select,
.legacy-root option,
.legacy-root .input {
    font-family: 'SF Text', 'roboto', sans-serif !important;
    color: var(--text) !important;
}

.legacy-root input::placeholder,
.legacy-root textarea::placeholder,
.legacy-root button::placeholder,
.legacy-root select::placeholder,
.legacy-root option::placeholder {
    color: var(--text) !important;
    opacity: 0.5 !important;
}

.legacy-root input,
.legacy-root textarea,
.legacy-root .input,
.legacy-root select {
    border: solid 1px var(--background-opacity) !important;
}

.legacy-root .uiButton {
    border: solid 1px var(--background-opacity) !important;
}

#toolbar input {
    background: var(--background-opacity) !important;
    padding: 6px !important;
}

.dailycal>.content>.wrapper>.days>tbody>tr>td>.entriesWrapper>.entry[data-yiq='light'],
.dailycal>.content>.wrapper>.days>tbody>tr>td>.entriesWrapper>.entry[data-yiq='dark'] {
    color: var(--text) !important;
}

.notifications__notifications___3mmLY.notifications__shown___1kPoT>button {
    background-color: var(--background-opacity) !important;
}

#main>.settings>.password>.field>label {
    color: var(--text) !important;
}

#main>.reports {
    background: transparent !important;
}

#main>.reports>.item {
    height: calc(220px * 1.5) !important;
    width: calc(200px * 1.5) !important;
    border-radius: 8px !important;
    background-color: var(--background-opacity) !important;
}

#main>.reports>.item>.report>.year,
#main>.reports>.item>.report>.term {
    color: var(--text) !important;
    background: var(--background-opacity) !important;
}

#main>.reports>.item>.report>.date {
    white-space: nowrap !important;
}

#main>.notices>.notice>h2::before {
    background: linear-gradient(90deg, var(--secondary), var(--primary)) !important;
    border-radius: 8px 8px 0 0 !important;
}

.modaliser {
    background: var(--background) !important;
}

.legacy-root button,
.legacy-root a {
    background-color: var(--background-opacity) !important;
}

.notifications__list___rp2L2 {
    border: 4px solid var(--background-opacity) !important;
    background: var(--background) !important;
    border-radius: 8px !important;
}

.notifications__actions___1UX7r {
    background: var(--background-opacity) !important;
    margin-bottom: -4px !important;
}

.notifications__items___2hCdv {
    border-bottom: none !important;
    background: var(--background-opacity) !important;
}

.notifications__item___2ErJN {
    margin: 0px 0px 4px 0px !important;
    border-radius: 8px !important;
}

.dashlet-notes>ul {
    background: none !important;
}

#main>.dashboard>.dashlet>.content {
    background: var(--background-opacity) !important;
}

.body.userHTML {
    color: var(--text) !important;
}

.body>userHTML {
    color: var(--text) !important;
}

html {
    filter: saturate(1.3) !important;
    color: var(--text) !important;
}

body {
    color: var(--text) !important;
    transition: width 100ms !important;
    transition-timing-function: ease !important;
}

#html {
    color: var(--text) !important;
}

.html {
    color: var(--text) !important;
}

.userHTML {
    color: var(--text) !important;
}

#userHTML {
    color: var(--text) !important;
}

a:not(.resource) {
    color: var(--text) !important;
}

.login {
    background: var(--background) !important;
}

.login>.auth {
    background: var(--background-opacity) !important;
}

.login::after {
    background: linear-gradient(to top left, var(--background-opacity) 50%, transparent calc(50% + 1px)) !important;
}

.legacy-root {
    font-family: 'SF Text', 'roboto', sans-serif !important;
}

.programmeNavigator {
    background: transparent !important;
}

.dailycal>.content>.wrapper>.days>tbody>tr>td>.entriesWrapper>.entry {
    background: var(--background) !important;
    border: solid 1px transparent !important;
    border-image: linear-gradient(45deg, var(--secondary), var(--primary)) 1 !important;
}

.dashlet-motd>.favour>.graph {
    background: var(--primary) !important;
}

.dashlet-motd>.favour>.graph>.unfavourable {
    background: var(--secondary) !important;
}

.dashlet-motd>.favour>button.favourable.selected {
    border-color: var(--primary) !important;
    color: var(--primary) !important;
}

.dashlet-motd>.favour>button.unfavourable.selected {
    border-color: var(--secondary) !important;
    color: var(--secondary) !important;
}

.LabelList__LabelList___2RJFf>li.LabelList__selected___3Egk7 {
    background: var(--background-opacity) !important;
}

.MessageList__MessageList___3DxoC {
    background: transparent !important;
}

.MessageList__MessageList___3DxoC>ol>li.MessageList__selected___1SJNz {
    background: var(--background-opacity) !important;
}

ul.buttonChecklist li.checked {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M9 16.172l10.594-10.594 1.406 1.406-12 12-5.578-5.578 1.406-1.406z"/></svg>') !important;
}

input.singleSelect {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M6.984 9.984h10.031l-5.016 5.016z"/></svg>') !important;
}

.legacy-root ul.singleSelect {
    background: var(--background) !important;
}

.legacy-root button.depressed,
.legacy-root button.toggled {
    background: var(--secondary) !important;
    color: var(--secondary-text) !important;
}

.uiFile.rows.restricted {
    box-shadow: inset 0 0 0 1px var(--primary) !important;
}

.forumList .forums .item.unread {
    box-shadow: inset 8px 0 0 var(--secondary) !important;
}

.forumView .siteGreeting {
    background: var(--secondary) !important;
}

.forumView>.messages>.thread>.message.unread::after,
.forumView>.messages>.thread>.comments>.comment.unread::after {
    background: var(--secondary) !important;
}

.forumView>.messages>.thread.banned>.message>.header>.name::after,
.forumView>.messages>.thread>.comments>.comment.banned>.header>.name::after {
    background: var(--primary) !important;
}

.mangleEditor>.expression>.keyword {
    border-color: var(--secondary) !important;
}

.mangleEditor>.expression>.operator {
    border-color: var(--primary) !important;
}

.mangleEditor>.expression>.type {
    border-color: var(--secondary) !important;
}

.folioViewer>.current>.header>.tags>li:hover,
.folioViewer>.current>.header>.author:hover {
    color: var(--secondary) !important;
}

.folioViewer>.pane>.filters>.tags>li>.delete:hover,
.folioViewer>.pane>.filters>.author>.delete:hover {
    color: var(--primary) !important;
}

.strengthMeter>.score-0 {
    background-color: var(--primary) !important;
}

.strengthMeter>.score-1 {
    background-color: var(--primary) !important;
}

.strengthMeter>.score-2 {
    background-color: var(--secondary) !important;
}

.strengthMeter>.score-3 {
    background-color: var(--secondary) !important;
}

.strengthMeter>.score-4 {
    background-color: var(--secondary) !important;
}

.roomSelectWrapper>.container>.singleSelect.overlay {
    background-color: var(--secondary) !important;
}

.roomSelectWrapper>.container>input:hover+.singleSelect.overlay,
.roomSelectWrapper>.container>.singleSelect.overlay:hover {
    background-color: var(--secondary) !important;
}

.roomSelectWrapper.used>.container>.singleSelect.overlay {
    background-color: var(--primary) !important;
}

.roomSelectWrapper.used>.container>input:hover+.singleSelect.overlay,
.roomSelectWrapper.used>.container>.singleSelect.overlay:hover {
    background-color: var(--primary) !important;
}

ul.roomSelect.singleSelect>li:not(.used)>.extra {
    background-color: var(--secondary) !important;
}

ul.roomSelect.singleSelect>li.used>.extra {
    background-color: var(--primary) !important;
}

#main>.folioEditor>.list>.item.unpublished {
    box-shadow: inset 4px 0 0 var(--primary) !important;
}

.settings .password>.passwordContainer>.passwordStrength .strengthMeter>.score-0 {
    background-color: var(--primary) !important;
}

.settings .password>.passwordContainer>.passwordStrength .strengthMeter>.score-1 {
    background-color: var(--primary) !important;
}

.settings .password>.passwordContainer>.passwordStrength .strengthMeter>.score-2 {
    background-color: var(--secondary) !important;
}

.settings .password>.passwordContainer>.passwordStrength .strengthMeter>.score-3 {
    background-color: var(--secondary) !important;
}

.settings .password>.passwordContainer>.passwordStrength .strengthMeter>.score-4 {
    background-color: var(--secondary) !important;
}

#main>.timetablepage>.container>.dailycal>.content>.wrapper>.days>tbody>tr>td>.entriesWrapper>.entry>.room.changed,
.dashlet-timetable>.dailycal>.content>.wrapper>.days>tbody>tr>td>.entriesWrapper>.entry>.room.changed {
    color: var(--primary) !important;
}

.AcademicResult__cohort___30a_N>li.AcademicResult__min___yqATL {
    --indicator-colour: var(--secondary) !important;
}

.AcademicResult__cohort___30a_N>li.AcademicResult__max___2uG44 {
    --indicator-colour: var(--secondary) !important;
}

.AcademicResult__cohort___30a_N>li.AcademicResult__avg___32fX6 {
    --indicator-colour: var(--secondary) !important;
}

.Thermoscore__Thermoscore___2tWMi {
    --background-color: var(--background) !important;
}

.Thermoscore__Thermoscore___2tWMi>.Thermoscore__marker___1tzy2.Thermoscore__min___JRnKg {
    --fill-colour: var(--secondary) !important;
}

.Thermoscore__Thermoscore___2tWMi>.Thermoscore__marker___1tzy2.Thermoscore__avg___3y1Xg {
    --fill-colour: var(--secondary) !important;
}

.Thermoscore__Thermoscore___2tWMi>.Thermoscore__marker___1tzy2.Thermoscore__max___34Oi0 {
    --fill-colour: var(--secondary) !important;
}

code.class {
    border-bottom: 2px solid var(--secondary) !important;
}

code.attribute {
    border-bottom: 2px solid var(--secondary) !important;
}

code.property {
    border-bottom: 2px solid var(--secondary) !important;
}

code.element {
    border-bottom: 2px solid var(--primary) !important;
}

.InlineHelp__InlineHelp___Znuy1>button {
    color: var(--theme-sel-bg-parts, var(--secondary)) !important;
}

.InlineHelp__InlineHelp___Znuy1>button>.InlineHelp__warn___2Ey7O {
    color: var(--secondary) !important;
}

.MenuButton__Menu___gXTaY.MenuButton__invalid___2v83T>button {
    box-shadow: inset 0 0 2px 1px var(--primary) !important;
}

.Toolbar__Toolbar___2pWkr>span>button.Toolbar__highlight___1bExw,
.Toolbar__Toolbar___2pWkr button:enabled.Toolbar__highlight___1bExw {
    border-color: var(--secondary) !important;
}

.InfoPill__InfoPill___3Z8-w.InfoPill__pre___2M0ja {
    background: var(--secondary) !important;
}

.InfoPill__InfoPill___3Z8-w.InfoPill__post___3yxcl {
    background: var(--secondary) !important;
}

.InfoPill__InfoPill___3Z8-w.InfoPill__late___m1S5Q {
    background: var(--primary) !important;
}

.InfoPill__InfoPill___3Z8-w.InfoPill__official___3-Jk1 {
    background: var(--theme-sel-bg-parts, var(--secondary)) !important;
}

.InfoPill__InfoPill___3Z8-w.InfoPill__enabled___T_cJy {
    background: var(--secondary) !important;
}

.Notice__Notice___22LGf {
    border-left: 8px solid var(--secondary) !important;
}

.Input__Input___3RSTI>input:invalid {
    box-shadow: inset 0 0 2px 1px var(--primary) !important;
}

.FancyNumberInput__FancyNumberInput___18qZE.FancyNumberInput__invalid___1ThO->input {
    box-shadow: inset 0 0 2px 1px var(--primary) !important;
}

.FancyCheckbox__FancyCheckbox___37A9I:focus-within>.FancyCheckbox__wrapper___3WyJU {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 0 1px var(--theme-sel-bg-parts, var(--secondary)) !important;
}

.NotificationList__NotificationList___1xxC->ol>li.NotificationList__unread___1xPjl {
    box-shadow: inset 8px 0 0 var(--secondary) !important;
}

.NotificationList__NotificationList___1xxC->ol>li.NotificationList__failed___vDvX_ {
    color: var(--primary) !important;
}

.FileDropzone__FileDropzone___3-Wcm.FileDropzone__dragging___ufqij {
    border-color: var(--secondary) !important;
    background: var(--secondary) !important;
}

.FileDropzone__FileDropzone___3-Wcm.FileDropzone__dragging___ufqij>.FileDropzone__dropzone___c-aNM {
    border-color: var(--secondary) !important;
    color: var(--secondary) !important;
}

.FileDropzone__FileDropzone___3-Wcm .FileDropzone__message___mah5A.FileDropzone__errors___15-UX {
    color: var(--primary) !important;
}

.StarRating__StarRating___3EIv8>.StarRating__rating___20nPy {
    --rating-accent-colour: var(--secondary) !important;
}

.TagList__TagList___b0BfN li.TagList__year___2Iwwi {
    border: 1px solid var(--secondary) !important;
}

.TagList__TagList___b0BfN i.TagList__year___2Iwwi {
    background: var(--secondary) !important;
}

.TagList__TagList___b0BfN li.TagList__department___31dxp {
    border: 1px solid var(--secondary) !important;
}

.TagList__TagList___b0BfN i.TagList__department___31dxp {
    background: var(--secondary) !important;
}

.Textarea__Textarea___1N3q8>textarea:invalid {
    border: 1px dashed var(--primary) !important;
}

.AlertManager__Alert___3HkTM::after {
    background: linear-gradient(to right, var(--secondary), var(--secondary), var(--secondary), var(--primary)) !important;
}

.AlertManager__Alert___3HkTM>button.AlertManager__action___3umRR {
    color: var(--secondary) !important;
}

.notifications__notifications___3mmLY>button>.notifications__bubble___1EkSQ {
    background: var(--primary) !important;
    width: auto !important;
    padding: 0px 4px !important;
    min-width: 12px !important;
    border-radius: 20px !important;
    color: var(--primary-text) !important;
}

.Overview__orangeSlider___2ZbEi {
    --container-accent: var(--primary) !important;
}

.Overview__currentClass___2VI0N>div:first-child,
.Overview__currentClass___2VI0N>div:last-child {
    color: var(--primary) !important;
}

.StudentEngagementFields__Score___3sQDd .StudentEngagementFields__invalid___1wqom {
    box-shadow: inset 0 0 2px 1px var(--primary) !important;
}

.AssessmentItem__EngagementTag___16Am6>svg {
    color: var(--secondary) !important;
}

.legacy-root button:not([disabled]):focus {
    border-color: var(--secondary) !important;
}

.legacy-root button:not([disabled]):active {
    border-color: var(--secondary) !important;
}

.legacy-root button::after {
    background: var(--secondary) !important;
}

.uiResultsTable table th.activeSort {
    background-color: var(--secondary) !important;
}

.attendanceMap>.items.hoveringLayer>li>.content>.layer.hovered {
    box-shadow: 0 0 2px 2px var(--secondary) !important;
}

.uiTable table th.sorted {
    background: var(--secondary) !important;
}

.cke_toolbox {
    background-color: var(--background-opacity) !important;
}

.cke_panel {
    background-color: var(--background) !important;
}

.uiSlidePane>.pane>.header {
    background-color: transparent !important;
}

.uiSlidePane>.pane {
    background-color: var(--background) !important;
}

.dashlet-pastoral>.items>table>tbody>tr:hover {
    background: var(--background-opacity) !important;
}

.programmeNavigator>.navigator>.week>.lessons>.lesson:hover {
    background: var(--background-opacity) !important;
}

.programmeNavigator>.navigator>.week>.lessons>.lesson.selected {
    background: var(--background-opacity) !important;
}

#main>.course>.content>h1,
#main>.course>.content>.outline>h2,
#main>.course>.content>.homework>h2,
#main>.course>.content>.homework>.content {
    color: var(--text) !important;
}

.Canvas__canvas___OBdCZ {
    background-color: transparent !important;
}

.dashlet-pastoral>.items>table>tbody>tr>td>.details {
    color: var(--text) !important;
    opacity: 0.5 !important;
}

#main>.assessmentsWrapper>.message {
    background: none !important;
    box-shadow: none !important;
    color: var(--text) !important;
}

.SelectedAssessment__SelectedAssessment___3Bu5D>.SelectedAssessment__meta___1gq_y>.SelectedAssessment__due___gaPre {
    background: var(--background-opacity) !important;
}

#main>.notices>.notice {
    background: var(--background-opacity) !important;
    border-radius: 0 0 8px 8px !important;
}

.Message__Message___3oJaU>.uiFrameWrapper .iframeWrapper {
    background: transparent !important;
}

.dailycal>.content>.wrapper>.days>tbody>tr>td.weekend {
    background-color: var(--background-opacity) !important;
}

.waitWindow {
    background: var(--background) !important;
    color: var(--secondary) !important;
    box-shadow: 0 4px 8px var(--background-opacity) !important;
    border-radius: 10px !important;
}

.calendar.container {
    background: var(--background) !important;
    border-radius: 8px !important;
}

ul.singleSelect,
ul.buttonChecklist,
ul.buttonMenu,
ul.colourButtonOptions,
ul.uiSplitButtonList,
.contactFormPanel {
    border: 4px solid var(--background-opacity) !important;
    background: var(--background) !important;
    border-radius: 8px !important;
}

.forumView>.forumGreeting>.forumGreetingWrapper,
.forumView>.messages>.thread>.message>.contents {
    background: transparent !important;
}

.legacy-root option {
    background: var(--background) !important;
}

.Collapsible__Collapsible___3O8P3>.Collapsible__header___-Afvq>.Collapsible__label___3Rf7a {
    color: var(--text) !important;
}

.legacy-root input[type='checkbox'] {
    accent-color: var(--secondary) !important;
}

#main>.goals>.student>.items>table thead td {
    background: var(--background-opacity) !important;
}

.anyoneSelect.filterBox {
    background: transparent !important;
}

.anyoneSelect>.listWrapper>.list>.item {
    background: var(--background-opacity) !important;
}

#main>.reports>.message {
    background: var(--background-opacity) !important;
    border-left: 4px solid rgb(var(--theme-sel-bg-parts));
}

.MenuButton__MenuPanel___2q42B {
    background: var(--background) !important;
    color: var(--text) !important;
    border-radius: 8px !important;
}

.LegacyModuleBody__LegacyModule___20YE2 {
    background: var(--background) !important;
}

.Message__Message___3oJaU>header,
.Message__Message___3oJaU>.Message__recipients___3gLZX,
.dashlet-summary-absence>.summary>table>tbody>tr>td,
#main>.documents>.list>thead>tr>th,
.MessageList__MessageList___3DxoC>ol>li,
.dashlet-summary-pastoral>.summary>table.header>thead>tr>td,
.dashlet-summary-pastoral>.summary>table.footer>tfoot>tr>td {
    border-bottom: 1px solid #ffffff05 !important;
}

.dashlet-summary-pastoral>.summary>.tableWrapper>table>tbody>tr>td,
.dashlet-notes>ul>li,
#main>.goals>.student>.items>table tbody td {
    border-bottom: 1px dotted var(--background-opacity) !important;
}

.dashlet-summary-pastoral>.summary>table.footer>tfoot>tr>td {
    border-top: 1px solid var(--background-opacity) !important;
}

#main>.dashboard>.dashlet>.header>.title,
#main>.notices>.notice>h2 {
    font-weight: 500 !important;
}

#main>.settings>.apps>div.label,
#main>.settings h2:not(.seqtavanced-branding h2) {
    color: var(--text) !important;
    opacity: 0.6 !important;
}

.waitWindow>svg {
    width: 40px !important;
    height: 40px !important;
}

.waitWindow svg path {
    d: path("M 14.261 13.886 C 9.965 13.886 9.175 13.956 6.996 13.713 C 3.827 13.187 1.568 9.564 2.554 6.492 C 3.278 4.444 5.061 2.74 7.195 2.255 C 9.346 1.827 11.646 2.869 12.855 4.678 C 13.76 6.008 14.349 7.743 13.818 9.331 C 13.492 10.327 12.678 11.554 11.947 12.311") !important;
}

.login>.auth button,
.login>.auth label>input {
    background: var(--background) !important;
    border-radius: 8px !important;
}

.login>.auth button>svg path {
    fill: var(--text) !important;
}

#menuToggle {
    top: 3px !important;
}

.MessageList__MessageList___3DxoC>ol>li.MessageList__unread___3imtO {
    box-shadow: inset 4px 0 var(--background-opacity) !important;
    background: var(--background-opacity) !important;
}

.uiFileList {
    margin-bottom: -4px !important;
}

ul,
.legacy-root ul,
.legacy-root ol {
    padding: 0 !important;
}

#main>.dashboard>.dashlet>.message {
    background: var(--background-opacity) !important;
}

#main>.dashboard>.dashlet>.header {
    border-bottom: 1px solid var(--background-opacity) !important;
}

.BasicPanel__BasicPanel___1GP6s>ol>li {
    background: var(--background-opacity) !important;
    border-radius: 8px !important;
    cursor: pointer !important;
    margin-bottom: 8px !important;
}

.BasicPanel__BasicPanel___1GP6s>ol>li:last-child {
    margin-bottom: 0px !important;
}

.BasicPanel__BasicPanel___1GP6s {
    box-shadow: none !important;
}

.Rubric__Rubric___2AAKS>.Rubric__line___JCC3Y>.Rubric__descriptor___2zo2S {
    color: var(--text) !important;
}

.uiFileHandlerPanel {
    background: var(--background) !important;
}

.gallery>.items>.item {
    background: var(--background-opacity) !important;
}

.resourceBrowser .searchConfig {
    background: var(--background) !important;
    border: none !important;
    border-radius: 8px !important;
}

.searchConfig>.sources>.source {
    background: var(--background-opacity) !important;
}